html {
  background-color: #8cdde8;
  font-family: 'Merriweather', serif;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button {
  background-color: white;
  border: 0;
}

.submit {
  border: 2px solid #9fb7d4;
  border-radius: 6px; 
}

a {
  color : #0a54af;
}

.delete, .expand, .retract {
  background-color: white;
  border: none;
}

.condense, .expand, .retract {
  margin-left: 10%;
}

button:hover,
button:focus {
    background: #9fb7d4;
}

span:hover,
span:focus {
    color: #9fb7d4;
}

button:active {
    transform: scale(0.99);
}


input, label, .submit {
  margin: 1%;
}

.retract p {
  margin-top: 0;
  margin-bottom: 0;
}

.expanded.bookmark {
  padding-bottom: 5%;
}

.expanded a {
  margin-left: 10%;
  margin-bottom: 1em;
}

.inList {
  /* height: 200px;
  width: 400px;*/
  border: 1px solid black;
  border-bottom: 0;
  background-color: white;
  padding: 1%;
}

li:last-child {
  border-bottom: 1px solid black;
}

li {
  list-style: none;
  position: relative;
}

button.create {
  width: 100%;
}

.delete {
    position: absolute;
    top: 2px;
    right: 2px;
}

header {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  height: 100px;
}


main {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

ul {
  padding-left: 0;
}

.filter-bar {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  vertical-align: middle;
}

.heartBar {
  display: inline-block;
  position: relative;
  left: 20%;
}
/* display inline block */

.expand {
  display: inline-block;
}

.bookmark-title {
  display: inline-block;
  position: relative;
  width: 15%;
  margin-left: 0;
}
.aligned {
  margin-left: 10%;
}

.desc {
  margin-top: 0;
}

#filter-bar {
  width: 50%;
}

.error {
  background-color: red;
  border: 1px solid black;
  margin-bottom: 5%;
  position: relative;
}

.error p {
  margin-left: 3%;
}

.error button {
  background-color: red;
  position: absolute;
  top: 2px;
  right: 2px;
  border: 0;
}

.error button:hover,
.error button:focus {
    background: #ffd0d0;
}

.error button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.error button:active {
    transform: scale(0.99);
}

@media only screen and (min-width: 640px) {
  main {
    width: 40%;
  }
  .bookmark-title {
    left: 10%;
  }

  .heartBar {
    left: 28%;
  }
}